# Ignore all files in the .venv folder
.venv/

.idea/

# Ignore all .session files
*.session

# Ignore the database file
database.db

# Ignore all files in the ipynb_checkpoints directory
.ipynb_checkpoints/